/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1650px) {
 

 /* ------------------------------------------------

    3. Main

------------------------------------------------ */

  .container {
    width: 1000px;
}
.next_slide_text {
    display: block;
    padding-bottom: 8px;
    font: 12px/16px 'Open Sans', Arial,sans-serif;
}

 #next_slide i{
        width: 38px;
        height: 38px;
   }
    #next_slide {
      bottom: 15px;
    }

/* ------------------------------------------------

    4. Header

------------------------------------------------ */
  #header .container {
  	width: 1170px;
  }

    /* --------------------------------------------
        4.1. Main Navigation
    -------------------------------------------- */
        
    #navigation {
      left: 30px;
    }
    #navigation li span {
        font-size: 12px;
    }
/* ------------------------------------------------

    5. Basic Elements

------------------------------------------------ */
   /* --------------------------------------------
        5.1. Typography
   -------------------------------------------- */
  h2 {
    font: 300 33px/40px 'Open Sans', Arial,sans-serif;
    padding-bottom: 20px;
  }
   h3 {
    font: 300 40px/40px 'Open Sans', Arial,sans-serif;
    padding-bottom: 30px;
  }
  h4 {
    font: 300 22px/24px 'Open Sans', Arial,sans-serif;
    padding-bottom: 23px;
  }
   h5 {
    font: 300 20px/40px 'Open Sans', Arial,sans-serif;
    padding-bottom: 5px;
  }
   h6 {
    font: 300 36px/36px 'Open Sans', Arial,sans-serif;
    padding-bottom: 18px;
  }

  p {
    font: 16px/20px 'Open Sans', Arial,sans-serif;
    padding-bottom: 20px;
    margin: 0;
  }
   /* --------------------------------------------
        5.2. Lists
   -------------------------------------------- */
      

   /* --------------------------------------------
        5.3. Buttons
   -------------------------------------------- */
.yellow_button {
    height: 57px;
    line-height: 57px;
    font-size: 16px;
}
/* --------------------------------------------
        6. Content
   -------------------------------------------- */
.container {
  padding-bottom: 50px;
}
.method li {
	padding-bottom: 14px;
}
.method li p {
	font-size: 26px;
}
.box_1_right_ins_cont {
    padding: 30px 30px;
}
.persons_number {
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 5px;
}

.persons_number_poz_2{
  left: 84px;
}
.persons_number_poz_3{
  left: 164px;
}
.persons_number_pop_up {
  padding-top: 0px;
  padding-bottom: 10px;
}
.add_persons_number p {
  font: 13px/16px 'Open Sans', Arial,sans-serif;
  padding-top: 6px;
}
.add_persons_number img {
  margin-right: 10px;
}

.box_ul li {
    font: 20px/38px 'Open Sans', Arial,sans-serif;
}
.box_2_img img {
	width: 500px;
}
.box_3_img img {
	width: 416px;
}

.showing_box {
  padding-top: 30px;
}
.showing_box img {
  margin-bottom: 10px;
}
.showing_box p {
  font: 300 20px/20px 'Open Sans', Arial,sans-serif;
}
.showing_box span {
  font: 600 32px/32px 'Open Sans', Arial,sans-serif;
}

.help_box p {
  font: 300 24px/24px 'Open Sans', Arial,sans-serif;
  padding: 0;
}
.help_box em {
  font: 300 16px/18px 'Open Sans', Arial,sans-serif;
}
.box_6_form {
  padding-top: 0px;
  padding-bottom: 25px;
}

.owl-dots {
    text-align: center;
    padding-top: 30px;
}
.box_7 h6, .box_8 h6 {
  font-size: 20px;
  padding-bottom: 10px;
}

.box_7 p, .box_8 p, .box_7 li, .box_8 li {
  font-size: 14px;
  line-height: 21px;
}

.phon_form  p{
  font-size: 12px;
  line-height: 18px;
}



}


@media only screen and (max-width: 992px) {
 body{min-width:768px;}

}

@media only screen and (max-width: 767px) {
 body{min-width:420px;}
}

@media only screen and (max-width: 479px) {
 body{min-width:300px;}
}